<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Telegram Login Widget Example</title>
</head>
<body>
<h1>Telegram Auth</h1>
<p>Change data-telegram-login and data-auth-url to your own</p>
<script
  async src="https://telegram.org/js/telegram-widget.js?22"
  data-telegram-login="drfauthtelegrambot"
  data-size="large"
  data-auth-url="https://9905-2a05-541-108-12f-00-1.ngrok-free.app/auth/complete/telegram/"
  data-request-access="write">
</script>

</body>
</html>
